<div class="banner">
	<h1>One account. All of Portal</h1>
	<h2>Sign in to continue to Portal</h2>
</div>
<div class="card signin-card">
	<div class="circle-mask kilop">
		<canvas id="canvas" class="circle" width="96" height="96"></canvas>
	</div>
	<input id="Email" name="Email" placeholder="Enter your email" type="email" value="" spellcheck="false" autofocus="">
	<input id="Passwd" name="Passwd" type="password" placeholder="Password" class="martop">
	<input id="signIn" name="signIn" class="rc-button rc-button-submit kilop" type="submit" value="Sign in">
</div>