<section class="level_form">
	<%= form_for @drup do |f| %>
	  <%= f.text_field :name %>
	  <br>
	  <%= f.select :level_id , options_from_collection_for_select(@allevel ,"id" , "name") %>
	  <br>
	  <%= f.submit "Create", :class => "rc-button rc-button-submit kilop"%>
	<% end %>
</section>
